/*-------------------------- Font-------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Lato&family=Merriweather&family=Montserrat&family=Poppins:wght@500&family=Roboto+Mono&family=The+Nautigal:wght@700&family=Ubuntu&family=Vujahday+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------commons--------------------------- */

body{
    font-family: 'Montserrat', sans-serif;
}

/* --------------------------header------------------------- */

header{
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
    
}

.top-title h3{
    color: #3A3A3A;
    font-size: 34px;
    font-weight: bolder;
    margin: 30px 0; 
}
.navigator{
    display: flex;
}

.navigator li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 18px;
    font-weight: 600;
}
.navigator li{
    list-style: none;
    margin: 30px;
    
}
.navigator, .icon{
    font-size: 25px;
    
}
button{
    background-color: #E02C6D;
    padding: 10px 30px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50px;
}
button a{
    color: white;
    text-decoration: none;

}
.button-icon{
    font-size: 20px;
    color: white;
    padding-left: 10px;
} 

/* -------------------------------container section---------------------------------- */
.container
.article{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
}

.container .article .left-part{
   width: 582px;
   height: 270px;
   margin-left: 50px;
   padding-top: 100px;
}

.left-part h1{
    font-size: 52px;
    font-weight: 900;
    color:#3A3A3A;
}

.left-part p{
    font-size: 20px;
    font-weight: bolder;
    color: #3A3A3A;
    padding: 20px 0;
}

.right-part{
margin-left: 250px;
}

.container img{
    width: 440px;
    height: 414px;
    border-radius: 20px;   
}

/*-------------------------- Main grid section ----------------------*/
.main-grid{
    margin-top: 100px;
}
.main-grid h2{
    text-align: center;
    font-size: 28px;
    font-weight: 700;
    color: #3A3A3A;
    padding-bottom: 50px;
}


.grid-body .pic-title{
    font-size: 30px;
    font-weight: 800;
    padding: 20px 0;
}
.grid-bodies{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}

.grid-body p{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.ratings{
    padding-bottom: 10px;
}
.small-star{
    font-size: 15px;
    color: rgb(253, 141, 13);
}
.small-empty-star{
    font-size: 15px;
    color: grey;
}
span{
    font-weight: 600;
    color:#5E6366
}
.grid-body .pic-detail{
    font-size: 15px;
    font-weight: 900;
    color: #787885;
    line-height: 25px;
    
}

/* ------------------see more link---------------- */

.see-more {
    font-size: 20px;
    text-align: right;
    margin-right: 50px;
}
.see-more p a {
    color: #E02C6D;
    font-weight: 900;
    text-decoration: none;
}
.try-image{
    width: 400px;
    height: 400px;
    background-image: url(../front-image/camera.png);
    background-repeat:no-repeat;
    box-shadow: 1px 5px 5px 5px black;
    animation: slider 15s infinite linear;
}

@keyframes slider{
    0%{ background-image: url(../front-image/camera.png) }
    50%{ background-image: url(../front-image/camera2.png); }
}




