/*-------------------------- Font-------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Lato&family=Merriweather&family=Montserrat&family=Poppins:wght@500&family=Roboto+Mono&family=The+Nautigal:wght@700&family=Ubuntu&family=Vujahday+Script&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*------------------------commons--------------------------- */

body{
    font-family: 'Montserrat', sans-serif;
}

/* --------------------------header------------------------- */

header{
    display: flex;
    justify-content: space-between;
    margin: 30px 50px;
    
}

.top-title h3{
    color: #3A3A3A;
    font-size: 34px;
    font-weight: bolder;
    margin: 30px 0; 
}
.navigator{
    display: flex;
}

.navigator li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 18px;
    font-weight: 600;
}
.navigator li{
    list-style: none;
    margin: 30px;
    
}
.navigator, .icon{
    font-size: 25px;
    
}
button{
    background-color: #E02C6D;
    padding: 10px 30px;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 50px;
}
button a{
    color: white;
    text-decoration: none;

}
.button-icon{
    font-size: 20px;
    color: white;
    padding-left: 10px;
} 

/* -------------------------------container section---------------------------------- */
.container
.article{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
}

.container .article .left-part{
   width: 582px;
   height: 270px;
   margin-left: 110px;
   padding-top: 100px;
}

.left-part h1{
    font-size: 52px;
    font-weight: 900;
    color:#3A3A3A;
}

.left-part p{
    font-size: 20px;
    font-weight: bolder;
    color: #3A3A3A;
    padding: 20px 0;
}

.right-part{
margin-left: 250px;
}

.animation-image{
    width: 400px;
    height: 400px;
    background-image: url(../front-image/camera.png);
    background-repeat:no-repeat;
    border-radius: 5px;
    box-shadow: .5px 5px 15px 5px rgb(128, 120, 120);
    animation: slider 15s infinite linear;
}

@keyframes slider{
    0%{ background-image: url(../front-image/camera.png) }
    50%{ background-image: url(../front-image/camera2.png); }
}

/*-------------------------- Main grid section ----------------------*/
.main-grid{
    margin-top: 130px;
}
.main-grid h2{
    text-align: center;
    font-size: 28px;
    font-weight: 900;
    color: #3A3A3A;
    padding-bottom: 50px;
}


.grid-body .pic-title{
    font-size: 30px;
    font-weight: 800;
    padding: 20px 0;
}
.grid-bodies{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    grid-row-gap: 50px;
}
.grid-body{
    padding: 20px 20px;
    border-radius: 10px;
    box-shadow:.5px 5px 15px 5px rgb(165, 165, 165) ;
}
.grid-body p{
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
}

.ratings{
    padding-bottom: 10px;
}
.small-star{
    font-size: 15px;
    color: rgb(253, 141, 13);
}
.small-empty-star{
    font-size: 15px;
    color: grey;
}
span{
    font-weight: 600;
    color:#5E6366
}
.grid-body .pic-detail{
    font-size: 15px;
    font-weight: 900;
    color: #787885;
    line-height: 25px;
    
}

/* ------------------see more link---------------- */

.see-more {
    font-size: 20px;
    text-align: right;
    margin-right: 110px;
    margin-top: 50px;
}
.see-more p a {
    color: #E02C6D;
    font-weight: 900;
    text-decoration: none;
}

/* ------------------Optional section--------------------  */

.offer-image-info{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-content: center;
    align-items: center;
    justify-items: stretch;
}
.optional-container h2{
    text-align: center;
    font-size: 50px;
    font-weight: 900;
    padding: 100px 0;
}

.offer-image-info img{
    padding-left: 110px;
   
}
.offer-image-info #last-link{
    text-decoration: none;
    font-size: 30px;
    font-weight: 900;
    background-color:#E02C6D;
    color: white;
    padding: 10px;
    margin-right: 110px;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 10px;
}

/*----------------------------- footer------------------- */
    footer{
        background-color: rgb(24, 1, 46);
        margin-top: 100px;
    }
    .footer-container{
        padding: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        color: white;
        
    }
    .footer-container h3{
        font-size: 25px;
        font-weight:bolder;
        padding-top: 30px;
       
    }
    .footer-container p{
        font-size: 15px;
        font-weight: bolder;
        line-height: 30px;
    }
    .footer-container .footer-icon{
        font-size: 30px;
    }


